name: Go Test, Build & Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    types:
      - opened
      - reopened

permissions:
  # To be able to access the repository with actions/checkout
  contents: read

jobs:
  build:
    name: Go Test and Build
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'

    - name: Check module vendoring
      run: |
        go mod tidy
        go mod vendor
        go mod verify
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)

    - name: Build
      run: go build

    - name: Test
      run: go test ./...

